[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tigerstats"]
	path = tigerstats
	url = https://github.com/homerhanumat/tigerstats
