[submodule ".registry"]
	path = .registry
	url = https://github.com/homerhanumat/homerhanumat.r-universe.dev
	branch = HEAD
[submodule "LSTbook"]
	path = LSTbook
	url = https://github.com/homerhanumat/LSTbook
[submodule "LSTtest"]
	path = LSTtest
	url = https://github.com/homerhanumat/LSTtest
[submodule "abdData"]
	path = abdData
	url = https://github.com/Middleton-Lab/abdData
	registered = false
[submodule "bcscr"]
	path = bcscr
	url = https://github.com/homerhanumat/bcscr
[submodule "tigerData"]
	path = tigerData
	url = https://github.com/homerhanumat/tigerData
[submodule "tigerTree"]
	path = tigerTree
	url = https://github.com/homerhanumat/tigerTree
[submodule "tigerstats"]
	path = tigerstats
	url = https://github.com/homerhanumat/tigerstats
